@font-face {
  font-family: "iconfont"; /* Project id 2603145 */
  src: url('iconfont.woff2?t=1624878474769') format('woff2'),
       url('iconfont.woff?t=1624878474769') format('woff'),
       url('iconfont.ttf?t=1624878474769') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ziyuanldpi:before {
  content: "\e60b";
}

.icon-zhuti:before {
  content: "\e605";
}

.icon-icon_zuo:before {
  content: "\e61f";
}

.icon-icon--2:before {
  content: "\e725";
}

.icon-icon--3:before {
  content: "\e726";
}

.icon-down-01:before {
  content: "\e6f0";
}

.icon-xiangxia:before {
  content: "\e647";
}

